@page
@model RedactorModel
@{
    ViewData["Title"] = "Redactor";
}

<div class="container">
    <div class="row">
        <div class="col-md-6 text-center">
            <h2 class="title">Your Table</h2>
            <div id="grid" class="grid"></div>
        </div>
        <div class="col-md-4">
            <h3 class="title">Ships</h3>
            <div class="ships-container">
                <div class="ships-row" id="row4">
                    <div class="ship" id="ship4-1" draggable="true" data-length="4">
                        <div class="ship-segment"></div>
                        <div class="ship-segment"></div>
                        <div class="ship-segment"></div>
                        <div class="ship-segment"></div>
                    </div>
                </div>
                <div class="ships-row" id="row3">
                    <div class="ship" id="ship3-1" draggable="true" data-length="3">
                        <div class="ship-segment"></div>
                        <div class="ship-segment"></div>
                        <div class="ship-segment"></div>
                    </div>
                    <div class="ship" id="ship3-2" draggable="true" data-length="3">
                        <div class="ship-segment"></div>
                        <div class="ship-segment"></div>
                        <div class="ship-segment"></div>
                    </div>
                </div>
                <div class="ships-row" id="row2">
                    <div class="ship" id="ship2-1" draggable="true" data-length="2">
                        <div class="ship-segment"></div>
                        <div class="ship-segment"></div>
                    </div>
                    <div class="ship" id="ship2-2" draggable="true" data-length="2">
                        <div class="ship-segment"></div>
                        <div class="ship-segment"></div>
                    </div>
                    <div class="ship" id="ship2-3" draggable="true" data-length="2">
                        <div class="ship-segment"></div>
                        <div class="ship-segment"></div>
                    </div>
                </div>
                <div class="ships-row" id="row1">
                    <div class="ship" id="ship1-1" draggable="true" data-length="1">
                        <div class="ship-segment"></div>
                    </div>
                    <div class="ship" id="ship1-2" draggable="true" data-length="1">
                        <div class="ship-segment"></div>
                    </div>
                    <div class="ship" id="ship1-3" draggable="true" data-length="1">
                        <div class="ship-segment"></div>
                    </div>
                    <div class="ship" id="ship1-4" draggable="true" data-length="1">
                        <div class="ship-segment"></div>
                    </div>
                </div>
            </div>
            <div class="button-container">
                <button id="toggleMode" class="btn btn-secondary">Horizontal</button>
                <button id="clearGrid" class="btn btn-secondary">Clear Grid</button>
                <button id="randomizeGrid" class="btn btn-secondary">Randomize Grid</button>
            </div>
        </div>
    </div>
    <button id="getPositions" class="btn btn-primary w-100">Get Ship Positions</button>
    <pre id="output"></pre>
</div>

