.root {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }
  
  .MuiTextField-root {
    margin-bottom: 20px;
  }
  
  .MuiButton-root {
    margin-top: 20px;
  }
  